
.card-image {
  width: 200px;
}
.header {
  color: darkred;
}
.banner {
  display: block;
  margin: 0 auto;

}
nav, footer{
  background: linear-gradient(135deg,#50E3C2,#85BAFF);
  margin-bottom: 10px;

}

textarea {
  min-height: 200px;
}
.del-btn-div {
  text-align: center;
}

.delete-btn {
  display: block;
  margin: 0 auto;
}
