<div class="container">
  <h1>Admin</h1>
  {{article-form saveArticle="saveArticle"}}

  {{#each model as |article|}}
    {{edit-article article=article update="update"}}
    <div class="row">
      <div class="del-btn-div"><button {{action 'destroyArticle' article}} class="btn red">Delete</button></div>
    </div>
  {{/each}}
</div>
