<nav>
    <div class="nav-wrapper">
      {{#link-to 'index' class="brand-logo"}}Home{{/link-to}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      </ul>
    </div>
  </nav>
{{outlet}}
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    This blows.
    <a class="grey-text text-lighten-4 right" href="#!">Twitter</a>
    </div>
  </div>
</footer>
