<div class="row">
  <div class="col s8 offset-s2 banner" ><span class="flow-text">Today's fake ass news</span></div>  
</div>

{{#each model as |article|}}
  {{article-blurb article=article}}
{{/each}}
